## datasets: https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset
## preprocessing ref: https://www.kaggle.com/code/abrahamanderson/k-nearest-neighbors-classifier-with-99-accuracy#5.1.-Data-Preprocessing

In [1]:
# Overview the movie meta dataset

import pandas as pd
import numpy as np

# Data Loading

In [2]:
df = pd.read_csv("../data/movies_metadata.csv")
df.head()

/Users/danyin/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

# Data Viewing

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [4]:
# drop non important features
# df.drop(["belongs_to_collection","homepage","tagline","overview","original_language"], axis=1,inplace=True)

In [5]:
# Find the missing values for each column
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [6]:
# Find the movies with missing title
print(df[df['title'].isnull()])

                                                   adult  \
19729                                              False
19730                                 - Written by Ã˜rnÃ¥s
29502                                              False
29503   Rune Balot goes to a casino connected to the ...
35586                                              False
35587   Avalanche Sharks tells the story of a bikini ...

                                   belongs_to_collection  \
19729                                                NaN
19730                                           0.065736
29502  {'id': 122661, 'name': 'Mardock Scramble Colle...
29503                                           1.931659
35586                                                NaN
35587                                           2.185485

                                 budget  \
19729                                 0
19730  /ff9qCepilowshEtG2GYWwzt2bs4.jpg
29502                                 0
29503  /zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
35586                                 0
35587  /zaSf5OG7V8X8gqFvly88zDdRm46.jpg

                                                  genres  \
19729  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
19730  [{'name': 'Carousel Productions', 'id': 11176}...
29502  [{'id': 16, 'name': 'Animation'}, {'id': 878, ...
29503  [{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...
35586  [{'id': 10770, 'name': 'TV Movie'}, {'id': 28,...
35587  [{'name': 'Odyssey Media', 'id': 17161}, {'nam...

                                                homepage          id  \
19729                                                NaN       82663
19730  [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...  1997-08-20
29502                      http://m-scramble.jp/exhaust/      122662
29503  [{'iso_3166_1': 'US', 'name': 'United States o...  2012-09-29
35586                                                NaN      249260
35587           [{'iso_3166_1': 'CA', 'name': 'Canada'}]  2014-01-01

         imdb_id original_language                            original_title  \
19729  tt0113002                en                              Midnight Man
19730          0             104.0  [{'iso_639_1': 'en', 'name': 'English'}]
29502  tt2423504                ja                          ãƒžãƒ«ãƒ‰ã‚¥ãƒƒã‚¯ãƒ»ã‚¹ã‚¯ãƒ©ãƒ³ãƒ–ãƒ« æŽ’æ°—
29503          0              68.0      [{'iso_639_1': 'ja', 'name': 'æ—¥æœ¬èªž'}]
35586  tt2622826                en                          Avalanche Sharks
35587          0              82.0  [{'iso_639_1': 'en', 'name': 'English'}]

                                                overview  ... release_date  \
19729  British soldiers force a recently captured IRA...  ...          NaN
19730                                           Released  ...            1
29502         Third film of the Mardock Scramble series.  ...          NaN
29503                                           Released  ...           12
35586  A group of skiers are terrorized during spring...  ...          NaN
35587                                           Released  ...           22

      revenue runtime spoken_languages status  tagline  title video  \
19729     NaN     NaN              NaN    NaN      NaN    NaN   NaN
19730     NaN     NaN              NaN    NaN      NaN    NaN   NaN
29502     NaN     NaN              NaN    NaN      NaN    NaN   NaN
29503     NaN     NaN              NaN    NaN      NaN    NaN   NaN
35586     NaN     NaN              NaN    NaN      NaN    NaN   NaN
35587     NaN     NaN              NaN    NaN      NaN    NaN   NaN

      vote_average vote_count
19729          NaN        NaN
19730          NaN        NaN
29502          NaN        NaN
29503          NaN        NaN
35586          NaN        NaN
35587          NaN        NaN

[6 rows x 24 columns]

In [7]:
# convert budget to float
df['budget'] = df['budget'].apply(pd.to_numeric, errors='coerce')
# drop movies with 0 budget
# df = df[df['budget'] != 0]

In [8]:
# drop movies with missing title
df = df[df['title'].notna()]
# drop movies with missing revenue
# df = df[df['revenue'].notna()]
df.isnull().sum()

adult                        0
belongs_to_collection    40970
budget                       0
genres                       0
homepage                 37682
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   0
poster_path                383
production_companies         0
production_countries         0
release_date                84
revenue                      0
runtime                    257
spoken_languages             0
status                      81
tagline                  25048
title                        0
video                        0
vote_average                 0
vote_count                   0
dtype: int64

In [9]:
#find movie with missing release data
# print(df[df['release_date'].isnull()])

# fill the release_data and runtime
# df["release_date"].fillna("2010-01-01",inplace=True)
# df["runtime"].fillna(df["runtime"].mean(),inplace=True)
# df.isnull().sum()

In [17]:
# refill missing release date
df["release_date"].fillna("2010-01-01",inplace=True)
# fill runtime

df["runtime"].fillna(df["runtime"].mean(),inplace=True)
df.isnull().sum()

adult                        0
belongs_to_collection    40970
budget                       0
genres                       0
homepage                 37682
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   0
poster_path                383
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                      0
spoken_languages             0
status                      81
tagline                  25048
title                        0
video                        0
vote_average                 0
vote_count                   0
dtype: int64

In [18]:
# split release date to year and year
df["release_year"] = df["release_date"].apply(lambda x : int(x[:4]))
df["release_month"] = df["release_date"].apply(lambda x : x[5:7]).astype(int)
df = df[df["release_month"]!= ""]
df.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,release_year,release_month
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995,10
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995,12
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995,12
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995,12
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995,2

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45460 entries, 0 to 45465
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45460 non-null  object
 1   belongs_to_collection  4490 non-null   object
 2   budget                 45460 non-null  float64
 3   genres                 45460 non-null  object
 4   homepage               7778 non-null   object
 5   id                     45460 non-null  object
 6   imdb_id                45443 non-null  object
 7   original_language      45449 non-null  object
 8   original_title         45460 non-null  object
 9   overview               44506 non-null  object
 10  popularity             45460 non-null  object
 11  poster_path            45077 non-null  object
 12  production_companies   45460 non-null  object
 13  production_countries   45460 non-null  object
 14  release_date           45460 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45460 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
 24  release_year           45460 non-null  int64
 25  release_month          45460 non-null  int64
dtypes: float64(5), int64(2), object(19)
memory usage: 9.4+ MB

In [20]:
# rename vote_average and vote_count to ratings and rating_count
df["rating"] = df["vote_average"]
df["rating_count"] = df["vote_count"]

df = df.drop("vote_average", 1)
df = df.drop("vote_count", 1)
df.head(5)

/var/folders/j5/sk1nzc2n0kv0l23d0__0z3300000gn/T/ipykernel_51246/4186465053.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop("vote_average", 1)
/var/folders/j5/sk1nzc2n0kv0l23d0__0z3300000gn/T/ipykernel_51246/4186465053.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop("vote_count", 1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,release_year,release_month,rating,rating_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,1995,10,7.7,5415.0
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,1995,12,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,1995,12,6.5,92.0
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,1995,12,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,1995,2,5.7,173.0

In [22]:
# removing features which are irrelevant for our project
df.drop(["imdb_id", "poster_path","original_title"], axis=1,inplace=True)

KeyError: "['imdb_id' 'poster_path' 'original_title'] not found in axis"

# Export cleaned dataset

In [23]:
df.to_csv("clean_movies_metadata.csv", index=False)